.nav-item  {
    padding-right: 3rem;
}



.bord{
    border: solid;
}

.banner {
    /*background-color: rgb(212, 134, 71);*/
    height: 450px;
}

.text-banner {
    text-align: center;
    color: white;
    transform: translateY(160%);
}

.text-banner h1 {
    font-size: 60px;
    
}

.login-contain {

    width: 30%;
    padding: 3rem;
    transform: translateY(30%);
    box-shadow: 4px 4px 8px rgba(170, 170, 170, 0.589);
}

.myDIv {
    height: 100vh;
}